@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-section-1 {
  background-image: linear-gradient(
    -45deg,
    rgb(59, 227, 185) 1%,
    rgba(87, 111, 230, 1) 25%,
    rgb(176, 187, 249) 51%,
    rgb(152, 255, 229) 100%
  );
}
img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
